{% extends "app/layout.html" %}

{% block content %}

<h2>번역 추천 시스템</h2>

<p>번역할 문장을 입력하세요.</p>

<form action="{% url 'result' %}">
    <textarea cola="40" rows="10" name="totaltext"></textarea>

    <p>출발언어
    <select name="source">
        <option value="ko">한국어</option>
        <option value="en">영어</option>
        <option value="ja">일본어</option>
        <option value="zh-CN">중국어 간체</option>
        <option value="vi">베트남어</option>
        <option value="id">인도네시아어</option>
        <option value="th">태국어</option>
        <option value="de">독일어</option>
        <option value="ru">러시아어</option>
        <option value="es">스페인어</option>
        <option value="it">이탈리아어</option>
        <option value="fr">프랑스어</option>
    </select>
    </p>

    <p>도착언어
    <select name="target">
        <option value="ko">한국어</option>
        <option value="en">영어</option>
        <option value="ja">일본어</option>
        <option value="zh-CN">중국어 간체</option>
        <option value="vi">베트남어</option>
        <option value="id">인도네시아어</option>
        <option value="th">태국어</option>
        <option value="de">독일어</option>
        <option value="ru">러시아어</option>
        <option value="es">스페인어</option>
        <option value="it">이탈리아어</option>
        <option value="fr">프랑스어</option>
    </select>
    </p>

    <input type="submit" value="번역하기">
</form>

<br />
<p>
{{user_chat}}
</p>

{% endblock %}
